@page
@model IndexModel
@{
    ViewData["Title"] = "About me";
}

<div class="text-center">
    <h1 class="display-4">About me</h1>
    <p>My name is Ivan. I am a web application developer.</p>
</div>
